name: Build NexusLink APK
on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Build with Buildozer
        uses: ArtemSBulgakov/buildozer-action@v1
        with:
          buildozer_version: stable
          python_version: 3.10
          command: buildozer -v android debug

      - name: Upload Artifact
        uses: actions/upload-artifact@v3
        with:
          name: NexusLink-Package
          path: bin/*.apk
